<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bookchange.bookchange">

    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/bookchange_small"
        android:label="BookChange"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar">

        <activity android:name="com.soundcloud.android.crop.CropImageActivity" />
        <activity
            android:name=".LoginActivity"
            android:icon="@drawable/bookchange_small"
            android:screenOrientation="portrait">
            <intent-filter>
                    <action android:name="android.intent.action.MAIN" />
                    <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:icon="@drawable/bookchange_small"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".CreateAccountActivity"
            android:icon="@drawable/bookchange_small"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">

        </activity>

        <activity android:name=".CreateListingActivity"
            android:icon="@drawable/bookchange_small"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">

        </activity>

        <activity android:name=".DisplayListingActivity"
            android:icon="@drawable/bookchange_small"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">

        </activity>

        <service
            android:name=".NotificationService"
            android:exported="false"/>

    </application>

</manifest>